body {
	background-image: url(camp.png);
	background-color: pink;
	color: goldenrod;
	margin-top: 100px;
	margin-left: 300px;
}

img {
	width: 70px;
	height: 70px;
	border: 2px solid black;
	animation-duration: 1.8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}

@keyframes clignoter {
  0%   { opacity:1; }
  40%   {opacity:0; }
  100% { opacity:1; }
}

.table {
	background-color: lightcyan;
	border: 2px solid black;
}

#docs {
	background-color:yellow;
	border: 2px solid black;
	font-size: x-large;
}